@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "breakpoint";

$link-color: #069;
// assume min-width (by default) if only a number
$high-tide: 720px;

// The Paper Stacks Mixin
// ======================
// mixin has optional image url for paper background... 
// just pass image inside quotes like: 
// paper-stack(100px, #fff, #ccc, "/path/to/image.png")

@mixin paper-stack($paper-color, $border-color, $paper-image-url: false) {
  @if $paper-image-url == false {
    background: $paper-color;
  } @else {
    background: $paper-color url($paper-image-url);
  }
  border: 1px solid $border-color;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    background: darken($paper-color, 10%);
    border: 1px solid $border-color;
    height: 1px;
  }
  &:before {
    bottom: -3px;
    left: 1px;
    right: 1px;
    z-index: 2;
  }
  &:after {
    bottom: -5px;
    left: 3px;
    right: 3px;
    z-index: 1;
  }
}

// some site specific styles

body {
  font-family: 'Tienne', serif;
  background: #f8daa9 url(/images/wood.jpg);
  color: #333;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10%);
  }
}

#main {
  width: 80%;
  padding-bottom: 80px;
  margin: 0 auto;
  position: relative;
  @include breakpoint($high-tide) {
    width: 700px;
  }
}

.github {
  @include transition(opacity .2s ease-in);
  display: block;
  width: 50px;
  height: 100px;
  background: transparent url(/images/github.png) 0 0 no-repeat;
  background-size: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  opacity: 0.6;
  right: -130px;
  text-indent: -100%;
  overflow: hidden;
  &:hover {
    opacity: 1;
  }
  @include breakpoint($high-tide) {
    width: 100px;
    height: 123px;
    background-size: 100px;
    top: 0px;
    right: -130px;
    left: auto;
    bottom: auto;
  }
}


h1 {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  line-height: 1;
  color: #000;
  text-align: center;
  margin-top: 50px;
  letter-spacing: -4px;
  @include breakpoint($high-tide) {
    font-size: 50px;
  }

  .paper-stack {
    @include paper-stack(#FFFFBF, #d7a869);
    @include inline-block;
    padding: 5px 10px;
    margin-bottom: 30px;
    @include breakpoint($high-tide) {
      font-size: 50px;
      padding: 10px 15px;
    }
  }
}
h2 {
  @include text-shadow(0 1px 1px rgba(255,255,255,0.75));
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin: 0 0 10px 0;
  @include breakpoint($high-tide) {
    font-size: 24px;
    Text-align: left;
    margin: 10px 0;
    margin-left: 40px;
    margin-top: 65px;
  }
}

p {
  font-size: 12px;
  margin-bottom: 40px;
  text-align: center;
}

.gist, .gist-file, .gist-data {
  background: transparent !important;
  border: none !important;
  font-size: 13px;
  line-height: 1.4;
}
.gist-file {
  margin: 15px !important;
}

// the paper stack implementation
// ===============================
div.paper-stack {
  @include paper-stack(#fff, #999);
  @include border-radius(2px);
  @include box-shadow(0 6px 8px rgba(0,0,0,0.15), 0 6px 8px rgba(0,0,0,0.05));
  min-height: 50px;
  margin-bottom: 40px;
}
.mobile-br {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
}
@include breakpoint($high-tide) {
  .mobile-br {
    display: inline-block;
  }
}
