- content_for :head do
  %title Paper Stack | A Compass/scss Mixin

%h2 The @mixin &amp; @include
.paper-stack
  %script(src="https://gist.github.com/2698063.js?file=paper-stack.scss")
%h2 The HAML
.paper-stack.last
  %script(src="https://gist.github.com/2698063.js?file=paper-stack.haml")
